/* From W3 Schools: https://www.w3schools.com/howto/howto_js_collapsible.asp */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  /* background-color: #000000; */
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  padding: 13px;
  width: 15vw;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  border: 1px solid black;
}
.secondrow{
  margin-top:60px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  /* padding: 18px; */
  display: none;
  overflow: hidden;
  background-color: #660404;
  width: 15vw;
  border: 1px solid black;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}