.navigationbar {
  /* border: 1px solid black; */
  background-color: rgb(255, 231, 194);
  top: 5%;
  width: 90%;
  position: fixed;
  display: table-row;
  margin-left: 5%;
}
.blackbar{
  border: 3px solid black;
  margin-bottom: 0;
}
.verticalbar{
  border: 3px solid black;
  height: 50px;
  display: table-cell;
}
.logoButton{
  /* border: 1px solid black; */
  display: table-cell;
  width: 320px;
}
.buttonBox{
  /* border: 1px solid black; */
  display: table-cell;
}
.spacer1{
  /* border: 1px solid rgb(221, 13, 13); */
  width: 2500px;
  display: table-cell;
}
.spacer2{
  /* border: 1px solid rgb(221, 13, 13); */
  width: 25px;
  display: table-cell;
}
.border{
  border: 1px solid black;
  width: 20px;
}
.bannerimage{
  width: 110%;
  background-image: url("banner.png");
  height: 250px;
  background-color: purple;
  background-position: center;
  margin-top:5.45%;
  margin-left: -20px;
  border: 5px solid black;
}