.navigationbar {
  /* border: 1px solid black; */
  /* background-color: rgb(255, 231, 194); */
  top: 5%;
  height: auto;
  width: 90%;
  position: fixed;
  display: table-row;
  margin-left: 5%;
}
.navbackground{
  background-color: rgb(255, 231, 194);
  border-bottom: 6px solid black;
  height: 104px;
  width: 110vw;
  position: fixed;
  top: 0;
  z-index: 9999;
  margin-left: -20px;
}
.verticalbar{
  border: 3px solid black;
  height: 50px;
  display: table-cell;
}
.logoButton{
  /* border: 1px solid black; */
  display: table-cell;
  width: 320px;
}
.buttonBox{
  /* border: 1px solid black; */
  display: table-cell;
}
.spacer1{
  /* border: 1px solid rgb(221, 13, 13); */
  width: 2500px;
  display: table-cell;
}
.spacer2{
  /* border: 1px solid rgb(221, 13, 13); */
  width: 25px;
  display: table-cell;
}
.border{
  border: 1px solid black;
  width: 20px;
}
.bannerimage{
  width: 110%;
  background-image: url("misc photos/banner.png");
  height: 250px;
  background-color: purple;
  background-position: center;
  margin-top:5.45%;
  margin-left: -20px;
  border: 5px solid black;
  background-size: cover;
}

.carouselSize{
  margin-top:5.3%;
  height: 600px;
  width: 100vw;
  position: center;
  background-color: rgb(255, 255, 255);
  border: 8px solid black;
}
.animal{
  height: 400px;
  /* justify-content: center;
  align-items: center; */
  display: block;
  margin: auto;
  /* border: 1px solid rgb(180, 14, 14); */
  margin-top: -40px;
}
.button1{
  position:static;
  right: 60vw;
  z-index: 9999;
  width: 50px;
  height: 25px;
}
.catalogarea{
  width: 75%;
  margin-left: 12%;
  margin-top: 4%;
  border: 7px solid rgb(114, 68, 16);
  border-radius: 25px;
  background-image: url("misc photos/cuttingboard.jpg");
}
.choppingboard{
  height: 900px;
  /* background-image: url("misc photos/cuttingboard.jpg"); */
  /* display: table-row; */
}
.boardrow{
  display: table-row;
}
.dropdown{
  display: table-cell;
  /* width: 125px; */
  padding: 20px;
}
.boardspacer{
  display: table-cell;
  width: 2500px;
}
.boradend{
  display: table-cell;
  width: 2500px;
}
.background-tint {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}
.beef{
  background-image: url("meat/beef.png");
  background-size: cover;
}
.pork{
  background-image: url("meat/pork.jpg");
  background-size: cover;
}
.poultry{
  background-image: url("meat/poultry.jpg");
  background-size: cover;
}
.seafood{
  background-image: url("meat/seafood.jpg");
  background-size: cover;
}
.lamb{
  background-image: url("meat/lamb.jpg");
  background-size: cover;
}
.venison{
  background-image: url("meat/venison.png");
  background-size: cover;
}
.largegame{
  background-image: url("meat/largegame.jpg");
  background-size: cover;
}
.exotic{
  background-image: url("meat/exotic.jpg");
  background-size: cover;
}
.specificmeat{
  /* border: 1px solid rgb(234, 234, 234); */
  overflow:hidden;
  width:100%;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 20px;
  color: white;
  font-size: large;
}
.active, .specificmeat:hover {
  background-color: #b11c1c;
}
.motto{
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.infoOrganization {
  border: 3px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
  margin: 50px;
  margin-top: 130px;
  /* padding: 50px; */
}
.infoTable{
  display: table-row
}
.infoLeft {
  border: 3px solid rgb(204, 9, 9);
  width: 35%;
  height: 150%;
  display: table-cell;
}
.infoRight {
  /* border: 3px solid rgb(65, 17, 17); */
  width: 60%;
  height: 150%;
  display: table-cell;
}