.navigationbar {
  /* border: 1px solid black; */
  /* background-color: rgb(255, 231, 194); */
  top: 5%;
  height: auto;
  width: 90%;
  position: fixed;
  display: table-row;
  margin-left: 5%;
}
.navbackground{
  background-color: rgb(255, 231, 194);
  border-bottom: 6px solid black;
  height: 104px;
  width: 110vw;
  position: fixed;
  top: 0;
  z-index: 9999;
  margin-left: -20px;
}
.blackbar{
  border: 3px solid black;
  margin-bottom: 0;
}
.verticalbar{
  border: 3px solid black;
  height: 50px;
  display: table-cell;
}
.logoButton{
  /* border: 1px solid black; */
  display: table-cell;
  width: 320px;
}
.buttonBox{
  /* border: 1px solid black; */
  display: table-cell;
}
.spacer1{
  /* border: 1px solid rgb(221, 13, 13); */
  width: 2500px;
  display: table-cell;
}
.spacer2{
  /* border: 1px solid rgb(221, 13, 13); */
  width: 25px;
  display: table-cell;
}
.border{
  border: 1px solid black;
  width: 20px;
}
.bannerimage{
  width: 110%;
  background-image: url("banner.png");
  height: 250px;
  background-color: purple;
  background-position: center;
  margin-top:5.45%;
  margin-left: -20px;
  border: 5px solid black;
}

.carouselSize{
  margin-top:5.3%;
  height: 600px;
  width: 100vw;
  position: center;
  background-color: rgb(255, 255, 255);
  border: 8px solid black;
}
.animal{
  height: 400px;
  /* justify-content: center;
  align-items: center; */
  display: block;
  margin: auto;
  /* border: 1px solid rgb(180, 14, 14); */
  margin-top: -40px;
}
.button1{
  position:static;
  right: 60vw;
  z-index: 9999;
  width: 50px;
  height: 25px;
}
.choppingboard{
  width: 75vw;
  height: 500px;
  border: 1px solid black;
}