.navigationbar {
  border: 5px solid black;
  width: 100%;
  height: 50%;
  /* position: relative; */
}
.mainRunner {
  border: 1px solid #000;
  top: 50px;
  left: 30%;
  height: 80%;
  width: 26%;
  position: relative;
}