<!DOCTYPE html>
<html>
<head>
    <title>The Slaughter's on!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='collapse.css') }}">
</head>
<!-- 
HTML Carousel:
https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Overflow/Carousels 
 -->
<body style="background-color:rgb(255, 231, 194);">
    <div>{% include 'navbar.html' %}</div>
    <!-- Carousel -->
    <div class="carouselSize">
        <h1>Interactive Page Selection</h1>
        <ul>
        <li>
            <h2><img src="../static/animals/cow.png" class="animal">
                <a href="/loginPage" class="button1">
                    BEEF
                </a>
            </h2>
        </li>
        <li>
            <h2><img src="../static/animals/chicken.png" class="animal"></h2>
        </li>
        <li>
            <h2><img src="../static/animals/pig.png" class="animal"></h2>
        </li>
        <li>
            <h2><img src="../static/animals/cow.png" class="animal"></h2>
        </li>
        </ul>
    </div>
    <!-- Regular Catalog -->
    <!-- Collapsible from W3 Schools: https://www.w3schools.com/howto/howto_js_collapsible.asp -->
    <div class="catalogarea">
        <div class="choppingboard">
        <div class="boardrow">
            <!-- Beef -->
            <div class="dropdown">
                <button type="button" class="collapsible beef background-tint">Beef</button>
                <div class="content">
                <a href="/sirloinPage">
                    <div class="specificmeat">Sirloin</div>
                </a>
                <a href="/sirloinPage">
                    <div class="specificmeat">Top Round</div>
                </a>
                <a href="/sirloinPage">
                    <div class="specificmeat">Chuck</div>
                </a>
                <a href="/sirloinPage">
                    <div class="specificmeat">Short Loin</div>
                </a>
                </div>
            </div>
            <!-- Poultry -->
            <div class="dropdown">
                <button type="button" class="collapsible poultry background-tint">Poultry</button>
                <div class="content">
                <p>Lorem ipsum...</p>
                </div>
            </div>
            <!-- Pork -->
            <div class="dropdown">
                <button type="button" class="collapsible pork background-tint">Pork</button>
                <div class="content">
                <p>Lorem ipsum...</p>
                </div>
            </div>
            <!-- Seafood -->
            <div class="dropdown">
                <button type="button" class="collapsible seafood background-tint">Seafood</button>
                <div class="content">
                <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>
        <div class="boardrow">
            <!-- Lamb -->
            <div class="dropdown">
                <button type="button" class="collapsible lamb background-tint secondrow">Lamb</button>
                <div class="content">
                <p>Lorem ipsum...</p>
                </div>
            </div>
            <!-- Venison -->
            <div class="dropdown">
                <button type="button" class="collapsible venison background-tint secondrow">Venison</button>
                <div class="content">
                <p>Lorem ipsum...</p>
                </div>
            </div>
            <!-- Large Game -->
            <div class="dropdown">
                <button type="button" class="collapsible largegame background-tint secondrow">Large Game</button>
                <div class="content">
                <p>Lorem ipsum...</p>
                </div>
            </div>
            <!-- Exotic -->
            <div class="dropdown">
                <button type="button" class="collapsible exotic background-tint secondrow">Exotic</button>
                <div class="content">
                <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Script -->
    <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
        content.style.display = "none";
        } else {
        content.style.display = "block";
        }
    });
    }
    </script>
</body>

</html>