
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"> -->
<div class="navbackground">
<div class="navigationbar">
        <a href="/home"class="logoButton">   <!--Button For Homepage-->
        <input type="image" src="../static/navbar/BSLogo.png" height="50px">
        </a>
        <div class="spacer1"></div>
        <a href="/meatCatalog" class="buttonBox">   <!--Button For Meat Catalog-->
            <input type="image" src="../static/navbar/steak.png" height="50px">
        </a>
        <div class="spacer2"></div><div class="verticalbar"></div><div class="spacer2"></div>
        <a href="/searchPage" class="buttonBox">   <!--Button For SearchPage-->
            <input type="image" src="../static/navbar/search.png" height="50px">
        </a>
        <div class="spacer2"></div><div class="verticalbar"></div><div class="spacer2"></div>
        <a href="/shoppingCart" class="buttonBox">   <!--Button For ShoppingPage-->
            <input type="image" src="../static/navbar/shoppingcart.png" height="50px">
        </a>
        <div class="spacer2"></div><div class="verticalbar"></div><div class="spacer2"></div>
        <a href="/loginPage" class="buttonBox">   <!--Button For Settings-->
            <input type="image" src="../static/navbar/gear.png" height="50px">
        </a>
        <div class="blackbar"></div>
    </div>
</div>
