<!DOCTYPE html>
<html>
<head>
    <title>The Slaughter's on!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='collapse.css') }}">
</head>

<body style="background-color:rgb(255, 231, 194);">
    <div>{% include 'navbar.html' %}</div>
    <div class="infoOrganization">
        <div class="infoTable">
            <div class="infoLeft">
                <div class="containerrow"><div class="categorytext">Beef</div><div class="typetext"> - Sirloin</div></div>
                <img src="../static/meat/beef.png" class="imageInfo">
            </div>
            <div class="spacer1"></div>
            <div class="infoRight">
                <button type="button" class="collapsibleInfo">General Information</button>
                <div class="contentInfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet in neque eget porttitor. In et massa at lacus consectetur egestas. Nulla tempus tellus nibh, ac finibus ligula volutpat sit amet. Duis pulvinar purus a lorem accumsan, ut ultricies arcu dictum. Maecenas at iaculis mi. Nunc ullamcorper a libero eget condimentum. Nunc in erat fermentum, pulvinar quam a, scelerisque mi. Mauris egestas efficitur leo, ut sollicitudin enim. Sed aliquet mauris at massa auctor viverra. Morbi scelerisque commodo metus sit amet porta.</div>
                <button type="button" class="collapsibleInfo">Cut Location</button>
                <div class="contentInfo">Lipsum</div>
                <button type="button" class="collapsibleInfo">Nutrition Information</button>
                <div class="contentInfo">Lipsum</div>
                <button type="button" class="collapsibleInfo">Common Use</button>
                <div class="contentInfo">Lipsum</div>
                <button type="button" class="collapsibleInfo">Market Statistics</button>
                <div class="contentInfo">Lipsum</div>
                <button type="button" class="collapsibleInfo">Popular Recipes & Dishes</button>
                <div class="contentInfo">Lipsum</div>
            </div>
        </div>
        <!-- <div class="spacer1"></div> -->
    </div>

    <!-- Script -->
    <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
        content.style.display = "none";
        } else {
        content.style.display = "block";
        }
    });
    }
    </script>
    <script>
    var coll = document.getElementsByClassName("collapsibleInfo");
    var i;

    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
        content.style.display = "none";
        } else {
        content.style.display = "block";
        }
    });
    }
    </script>
</body>

</html>